# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tensorflow binary files
*.tfrecords
*.index
*.meta
*.data*

# Compressed Data
*.tar
*.gz

# Large Data directories
TrainingData/
__pycache__/
,vscode/